
.Navbar {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    margin : 0;
    padding: 0;
    overflow: hidden;
    transition: backdrop-filter .5s linear;
    border-width : 0.1;
    z-index : 3;
}

#menu {
    display : none;
}

.menuItem:hover {
    opacity: 0.7;
    cursor : pointer;
    transition: .5s ease;

}

#Item {
    color : #06dce7;
}

#blank {
    height : 100vh;
}